{% extends "base.html.twig" %}

{% block body %}
<div class="container py-5">

    <div class="row">
         {% include "_messages_flash.html.twig" %}
        <div class="col-6">
            <div class="card">
  <img src="{{ product.image }}" class="rounded-3 imageDetail" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{ product.name }}</h3>
    <p class="card-text">Prix : {{ product.prix | priceFormatEuro}}</p>
    <p class="card-text">Catégorie : {{ product.category.name}}</p>
    <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-primary w-100">Ajouter au panier <i class="fa-solid fa-basket-shopping"></i></a>
  </div>
</div>
    </div>
</div>

{% endblock %}