<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">LyaEmbroidery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Boutique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Qui je suis ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>

      {% if app.user  %}

        {% if app.user.roles[0] is same as "ROLE_ADMIN" %}

          <li class="nav-item">
              <a class="nav-link" href="{{ path('admin') }}">Administration</a>
            </li>

        {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
          </li>

      {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
          </li>
        
        {% endif %}

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Que cherchez-vous ?" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</nav>